@import '../variables/colors';
.navigation-cell
{
  background-color: transparent;
  padding: 0.8em 1em;
  text-transform: uppercase;
  border: 0;
}
.navigation-cell:hover
{
  background-color: $color--light-shades-lighter;
}
.navigation-cell--active
{
  background-color: $color--light-shades-lighter;
}