@use '../variables/colors';
.menu--navigation-cell
{
  background-color: transparent;
  padding: 0.8em 1em;
  text-transform: uppercase;
  border: 0;
}
.menu--navigation-cell:hover
{
  background-color: colors.$color--light-shades-lighter;
}