@import '../mixins/fonts';

html {
  font-size: 14px;
}

input {
  @include secondary-font;
  line-height: 1.65;
}
body {
  line-height: 1.65;
  @include secondary-font;
  color: #333;
}
p {
  margin-bottom: 1.15rem;
}
h1, h2, h3, h4, h5 {
  //margin: 2.75rem 0 1.05rem;
  @include primary-font;
  line-height: 1.15;
}

h1 {
  margin: 0 0 1.05rem;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small, .text_small {
  font-size: 0.8em;
}

