$color--dark-shade: #29273F;
$color--dark-shade-lighter:  #535265;
$color--light-shades: #F7F9F8;
$color--light-shades-darker:#DEE0DF;
$color--light-shades-lighter: #535265;
$color--main-brand: #EE8D5A;