@import './partials/_typography';
@import './variables/_variables';
body{
  background-color: white;
}
html {
  font-size: 14px;
}
@media #{$mobile} {
  html {
    font-size: 16px!important;
  }
}

.desktop--max-width
{
  max-width: 1200px;
}
li{
  list-style: none;
}
ul{
  padding:0;
}

.logo{
    height: 4em;
}
.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-center {
  text-align: center;
}
.row {
  flex-direction: row;
}
.column{
  flex-direction: column;
}
.content--center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.width-full {
  width: 100%;
}

.flex{
  display: flex;
}
a {
  text-decoration: none;
}